/*Required Fonts*/
@font-face{
    src: url('../Fonts/FrankRuhiLibre/FrankRuhlLibre-Regular.ttf'),
    	 url('../Fonts/FrankRuhiLibre/FrankRuhlLibre-Black.ttf');
    font-family: Frank;
}
@font-face{
	src: url('../Fonts/Pacifico/Pacifico-Regular.ttf');
	font-family: pacifico;
}
*{
	scroll-behavior: smooth;
	scrollbar-width:none; /*Mozilla*/
	-ms-overflow-style: none; /*IE and EDGE*/
}
/*Remove Scrollbar in Chrome*/
*::-webkit-scrollbar {
  display: none;
}
body{
	height: 100vh;
	margin:0;
	padding: 0;
} 
/*Custom Font Classes*/
.cursive{
	font-family:pacifico;
	font-size: 1.5rem;
}
.big-font{
	font-family:Frank;
}
.medium-font{
	font-family:Frank;
	font-size:1.5rem;
}
.medium-extra-font{
	font-family:Frank;
	font-size:1.3rem;
}
.small-font{
	font-family:Frank;
	font-size:1rem;
}
.extra-small-font{
	font-family: Frank;
}  
/*Custom Font Classes*/
/*Top*/
.background-image{
	width:100%;
	height:100vh;
	background-image: url("https://images.unsplash.com/photo-1591091276770-c430bd287ff1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYyNzY2MDY5Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
	/* Set a specific height */
	min-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*name displayed for front page*/
.text-input{
	padding-top:0.5em;
	font-size:2.5rem;
	font-family:pacifico;
	color: #fff;
}
.intro-name{
	padding-bottom:0.1em;
	border-bottom:0.1px solid #fff; 
	width:100%;
}
.intro-text{
	display: block;
	margin-top: 0.5em;
	/*border: 1px solid red;*/
	font-size:2.2rem;
	font-family:Frank;
	color: #fff;
}
.intro-text::before{
	content:'Web Developer';
	animation:namechange 8s 4s infinite;
}
@keyframes namechange{
	40%{
		content:'Creative Coder';
	}
	50%{
		content: 'Self Learner';
	}
	60%{
		content:'React Developer';
	}	
	100%{
		content:'Web Developer';
	}
} 
/*name displayed for front page*/
.about-info-page,.skill-div{
	background-color: #fdfcfa;
}
/*career*/
.career-div{
	height: 100%;
	background-color: #f6f1f4;
}
/*career*/
/*Project Cards*/
.project-div{
	background-color: #fdfcfa;
}
.box_card{
	border: 1px solid #868686;
	display: flex;
	flex-direction: column;
}
.project_container{
	display: grid;
	grid-gap:2em;
	margin-top:1.5em;
	padding:1em;
	grid-template-columns: auto;
	/*border: 1px solid green;*/	
}
.card-body{
	/*border: 1px solid blue;*/
	display: inline-flex;
	justify-content: space-between;
	flex-direction:column;
}
.card_title{
	font-weight: bold;
	/*border: 1px solid blue;*/
}
.description{
	/*border: 1px solid #256;*/
	text-align: justify;
}
.tags{
	text-align: center;
	font-weight: bolder;
	padding: 0.2em;
	border-radius: 0 5px  5px 0;
	background-color:#228B22;
	z-index: 1;
	position: absolute;
	margin-top: 0;
}
.card:hover{
	transform: scale(1.05);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/*Project Cards*/
.image-container img{
	width: 13em;
}
.image{
	width: 100%;
	height:100%;
}

/*skill parts*/
.skill_container{
	/*border: 1px solid red;*/
	margin-top: 2em;
	display: grid;
	padding-right: 0;
	grid-row-gap:1em;
	grid-template-columns: auto auto auto;
}
.skill_card{
	width:5em;
	display:inline-flex;
	justify-content: space-between;
	box-shadow: 5px 5px 5px 0 #cdcd;
	background:white;
}
/*skill parts*/
/*footer*/
.icon-box{
	width:2.5em;
	height:2.5em;
}
a{
	color:#000;
	text-decoration: none;
}
.icon-image:hover{
     transform: scale(1.5);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
i:hover{
	transform: scale(1.5);
}
#footer{
	background-color: #f6f1f4;
}
.con-sub{
	width:85%;
}
/*footer*/
/*Desktop Code*/
@media only screen and (min-width: 768px){


	.background-image{
		/*background: url("./Images/desktop_img.jpg");*/
		background: url("https://images.unsplash.com/photo-1554424507-7a3958d9d6ef?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYyNzY2MDQ2OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.about-info-page{
		min-height: 100%;
	}
	 .text-input{
	 	font-size: 3rem;
	 }
	.intro-name{
		border:none;
		width:auto;
		border-right:0.1px solid #fff; 
		padding:0;
		padding-right:0.3em;
	}
	.intro-text{
		font-size: 3rem;
		display: inline-block;
		margin-top: 0;
	}
	 .intro-text{
		padding:0;
		margin:0;
		padding-left:0.5em;
	}
	.image-container img{
		width: 15em;
	}
	/*skill parts*/
	.skill_container{
	grid-row-gap: 1.5em;
	grid-template-columns: auto auto auto auto;
	}
	.skill_card{
	width:8em;
	}
	/*skill parts*/
	/*Project Cards*/
	.project_container{
	grid-template-columns: auto auto auto;
	/*border: 1px solid green;*/	
	}
	/*Project Cards*/
	.con-sub{
		width: 25%;
	}
	.icon-image:hover{
	     transform: scale(1.5);
	  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

}
@media only screen and (orientation: landscape) {

     .about-info-page{
     	height: auto;
     	margin-bottom: 0.5em;
     }
     .career-div{
     	height: auto;
     }

     .skill_container{
		grid-template-columns: auto auto auto auto;
	}
}